<h2>Entity Changed Notification</h2>

<p>An entity has just been changed in the system.</p>

<ul>
    <li><strong>Entity: </strong> {{ class }}</li>
    <li><strong>Entity ID:</strong> {{ id }}</li>
</ul>
